.o-info-container{
    width: 100vw;
    background-color: aquamarine;
}
.o-img-profile{
    height: 10rem;
    
}
.o-portfolio-container{
    margin: 2em 5rem 1rem 0;
    background-color: brown;
    padding: 1rem;
   }
   
.o-portfolio-container .o-bisque{
    background-color: bisque;
}
.o-project{
    background-color: white;
    padding: 1rem;
}
#project2{
    background-color: yellow;
}
